.header-color {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects-grid {
    display: flex;
}

/* 
img {
    max-width: 98%;
    max-height: 40%;
} */

.mdl-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    padding: 2em;
    /* align-items: center; */
}

/* Resume Page css */

.resume-col {
    justify-content: center;
    margin: auto;
    padding: 2em;
    align-items: center;
}

/* contact page css */

.contact-body {
    margin: auto;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
    display: block;
    padding-top: 20vh;
}

.contact-grid {
    text-align: center;
    height: 58vh;
    background: white;
    color: black;
    margin-bottom: 2vh;
}

.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 5vh;
    padding-right: 2rem;
}

.banner-text-about-me {
    background-color: #f7f4f4;
    width: auto;
    height: auto;
    margin-right: 2vh;
    border-radius: 15px;
    margin: 1vh;
}

.banner-text-about-me p {
    color: black;
    padding: 1em;
    display: flex;
    font-family: "Avenir", sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 26px;
    margin: 1vh;
    text-align: justify;
}

.banner-text-about-me h2 {
    padding-bottom: 0.5em;
    padding-top: 3vh;
    font-size: 5vh;
    font-weight: bold;
    color: black;
    margin: 1vh;
    text-align: center;
}


/* landing page css */

.banner-text {
    /* background-color: #000; */
    opacity: .8;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 2vh;
    overflow: scroll;
}

.banner-text h1 {
    font-size: 6vh;
    font-weight: bold;
    color: white;
}

.banner-text h2 {
    padding-top: 3vh;
    font-size: 5vh;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 2vh;
    padding-top: 1em;
}

.social-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

/* .textStyleAboutMe {
    display: flex;
    font-size: 21px;
    font-family: "Avenir", sans-serif;
    text-align: justify;
    justify-content: center;
    line-height: 1.5;
} */

.textStyle {
    display: flex;
    font-size: 21px;
    font-family: "Avenir", sans-serif;
    text-align: justify;
    justify-content: center;
    line-height: 1.5;
}

.textJob {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: -1px;
}

.wprBody {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    /* -ms-flex: 25%; IE10 */
    max-width: 49%;
    /* max-width: 25%; */
    display: flex;
    padding: 0 4px;
    align-items: center;
}

.column img {
    /* vertical-align: middle; */
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

.column p {
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    text-align: justify;
    justify-content: center;
    line-height: 1.5;
}

@media screen and (max-width: 1000px) {
    .column p {
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .column {
        /* -ms-flex: 50%;
        flex: 50%;
        max-width: 50%; */
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        /* height: 100%; */
        display: flex;
    padding: 0 4px;
    align-items: center;
    }
    .column img {
        
        max-width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 720px) {
    .column p {
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        justify-content: center;
        line-height: 1.5;
        margin-bottom: 2vh;
    }
    .column {
        /* -ms-flex: 50%;
        flex: 50%;
        max-width: 50%; */
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        /* height: 100%; */
        display: flex;
    padding: 0 4px;
    align-items: center;
    }
    .column img {
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 655px) {
    .column p {
        font-size: 20px;
        text-align: justify;
        justify-content: center;
        line-height: 1.5;
    }
    .column {
        /* -ms-flex: 50%;
        flex: 50%;
        max-width: 50%; */
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        height: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        height: 100%;
    }
    .column p {
        font-size: 17px;
        text-align: justify;
        justify-content: center;
        line-height: 1.5;
    }
}

.contentContactMe {
    font-size: 30px;
    font-family: "Avenir";
}

@media (min-width: 300px) and (max-width: 500px) {
.contentContactMe {
    font-size: 21px;
    font-family: "Avenir";
    }
    .contact-grid h2{
        font-size: 27px;
    }

}

@media (min-width: 501px) and (max-width: 650px) {
    .contentContactMe {
        font-size: 25px;
        font-family: "Avenir";
        }
        .contact-grid h2{
            font-size: 40px;
        }
}

.theContainer {
    margin: 1vh;
}

/* @media (min-width: 720px) and (max-width: 800px) {
    .theContainer {
        margin: 8vh;
    }
} */

@media (min-width: 720px) and (max-width: 1120px) {
    .theContainer {
    margin-left: 8vh;
    margin-right: 8vh;
    }
}


@media (min-width: 1121px) and (max-width: 1301px) {
    .theContainer {

        margin-right: 12vh;
        margin-left: 12vh;
    }
}

@media (min-width: 1300px) and (max-width: 1620px) {
    .theContainer {

        margin-right: 20vh;
        margin-left: 20vh;
    }
}
@media (min-width: 1621px) and (max-width: 10000px) {
    .theContainer {
  
        margin-right: 36vh;
        margin-left: 36vh;
        /* margin-right: calc(36vh);
        margin-left: calc(36vh); */
    }
}

.landingImage {
    height: 450px;
    padding-top: 4em;
}

@media (min-width: 656) and (max-width: 958px) {
    .landingImage {
        height: 370px;
        padding-top: 2em;
    }
}

@media screen and (max-width: 655px) {
    .landingImage {
        height: 300px;
        padding-top: 2em;
    }
}